.header {
	padding: 18px 0;
	&__logo {
		margin: 0 auto 0 0;
	}
	&__menu {}
	.row {
		display: flex;
	}
}
.menu {
	background: #161616;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 50;
	top: -100%;
	left: 0;
	overflow: auto;
	transition: all 0.3s ease 0s;
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	&__link {
		display: inline-block;
		padding: 15px 0;
		font-weight: bold;
		font-size: 25px;
		text-align: center;
		color: #c4c4c4;
	}
}
.menu.active {
	top: 0;
	left: 0;
	transition: all 0.3s ease 0s;
}
@media(min-width: 864px) {
	.menu {
		&__link {
			&:hover {
				color: #E02424;
				text-decoration: underline;
				-webkit-text-decoration-skip-ink: none;
				text-decoration-skip-ink: none;
			}
		}
	}
}