.modal-fade {
	display: none;
	&::before {
		content: '';
		background: #000;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.9;
		z-index: 9999;
	}
}
.modal {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px;
	z-index: 9999;
	opacity: 1;
}
.modal-close {
	position: absolute;
	padding: 10px;
	top: 0;
	right: 0;
	span {
		font-size: 20px;
		color: #C4C4C4;
	}
}
.order-form {
	width: 290px;
	padding: 35px 0 20px 0;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	&__button {
		border-radius: 20px;
		width: 150px;
		height: 40px;
	}
}
.input {
	width: 80%;
	border-bottom: 1px solid black;
	padding: 10px 0 10px 15px;
}
@media(min-width: 576px) {
	.order-form {
		width: 370px;
	}
}