.reviews {
	padding: 0 0 30px 0;
	&__block-title {
		margin: 0 0 30px 0;
	}
}
.reviews-slider {
	margin: 0 auto;
	width: 290px;
	&__slide {
		display: grid !important;
		grid-template-columns: repeat(2,1fr);
		padding: 0 15px;
		position: relative;
	}
	&__image {
		grid-row-start: 1;
		grid-row-end: 3;
		margin: 0 0 10px 0;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	&__rating {
		grid-column-start: 2;
		grid-column-end: 3;
		display: flex;
		justify-content: center;
		margin: 0 0 10px 0;
		img {
			width: 16px;
			height: 16px;
		}
	}
	&__name {
		grid-column-start: 2;
		grid-column-end: 3;
		align-self: end;
		margin: 0 0 10px 0;
		font-size: 16px;
		text-align: center;
		font-weight: bold;
	}
	&__text {
		grid-column-start: 1;
		grid-column-end: 3;
		text-align: justify;
		line-height: 16px;
	}
	.slick-dots li button:before {
		font-size: 35px;
	}
	.slick-dots li.slick-active button:before {
		color: #161616;
	}
}
@media(min-width: 768px) {
	.reviews-slider {
		width: 600px;
	}
}