.shop {
	padding: 18px 0 24px 0;
	&__first-side {
		margin: 0 0 22px 0;
	}
	&__second-side {}
	&__product-name {
		margin: 0 0 15px 0;
	}
	&__title {
		margin: 0 0 3px 0;
		font-weight: bold;
		font-size: 15px;
		text-transform: uppercase;
		text-align: right;
		color: #000000;
	}
	&__product-availability {
		font-weight: 500;
		font-size: 8px;
		text-align: right;
		color: #38AF44;
	}
	&__price {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0 0 23px 0;
	}
	&__actual-price {
		margin: 0 9px 0 0;
		font-weight: bold;
		font-size: 12px;
		color: #000000;
	}
	&__old-price {
		margin: 0 15px 0 0;
		font-weight: 500;
		font-size: 8px;
		-webkit-text-decoration-line: line-through;
		text-decoration-line: line-through;
		color: #A5A5A5;
	}
	&__button {
		top: 36px;
		left: 100px;
		border-radius: 15px;
		width: 75px;
		height: 25px;
	}
	&__size-and-color {
		display: flex;
		justify-content: flex-start;
		margin: 0 0 15px 0;
	}
	&__size-blocks {
		display: flex;
		justify-content: flex-start;
		margin: 0 26px 0 0;
	}
	&__size {
		width: 25px;
		height: 17px;
		background: #FFFFFF;
		&:not(:last-child) {
			margin: 0 11px 0 0;
		}
		input[type=radio] {
			display: none;
		}
		input[type=radio]:checked + label {
			border: 1px solid #000;
			color: #000;
		}
		label {
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #C4C4C4;
			width: 100%;
			height: 100%;
			font-size: 8px;
			color: #C4C4C4;
		}
	}
	&__product-description {
		p {
			margin: 0 0 9px 0;
			font-weight: 500;
			font-size: 8px;
			line-height: 9px;
			color: #000000;
			&:first-child,
			&:last-child {
				margin: 0 0 18px 0;
			}
		}
	}
	&__label {
		margin: 0 0 11px 0;
		font-weight: bold;
		font-size: 10px;
		color: #000000;
	}
	&__information {
		border: 1px solid #E02424;
		padding: 5px 3px;
		font-weight: 500;
		font-size: 8px;
		text-align: center;
		color: #424242;
		background: #FFFFFF;
	}
	.row {
		display: grid;
		grid-template-columns: 290px;
		justify-content: center;
	}
}
.shop-products-slider-big {
	margin: 0 auto 10px auto;
	width: 290px;
	&__image {
		width: 290px;
		img {
			width: 100%;
		}
	}
}
.shop-products-slider-small {
	&__slide {}
	&__image {
		margin: 0 auto;
		width: 65px;
		img {
			width: 100%;
		}
	}
	.slick-prev {
		width: 26px;
		height: 31px;
		&::before {
			content: url('../../img/icon/arrow-next.svg');
		}
	}
	.slick-next {
		width: 26px;
		height: 31px;
		&::before {
			content: url('../../img/icon/arrow-prev.svg');
		}
	}
}
.shop-color-slider {
	width: 22px;
	&__slide {
		width: 23px;
		height: 16px;
		&--color {
			&_blue {
				background: #2B80CF;
			}
			&_red {
				background: red;
			}
			&_green {
				background: green;
			}
		}
		input[type=radio] {
			display: none;
		}
		input[type=radio]:checked + label {
			border: 1px solid #000;
		}
		label {
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid transparent;
			width: 100%;
			height: 100%;
		}
	}
	.slick-prev {
		top: 44%;
		left: -16px;
		&::before {
			content: url('../../img/icon/arrow-next-small.svg');
		}
	}
	.slick-next {
		top: 44%;
		right: -16px;
		&::before {
			content: url('../../img/icon/arrow-prev-small.svg');
		}
	}
}
@media(min-width: 576px) {
	.shop-products-slider-small {
		.slick-prev {
			top: 50%;
			left: -24px;
			&::before {
				content: url('../../img/icon/arrow-prev-big.svg');
			}
		}
		.slick-next {
			top: 50%;
			right: -24px;
			&::before {
				content: url('../../img/icon/arrow-next-big.svg');
			}
		}
	}
	.shop-color-slider {
		.slick-prev {
			left: -19px;
			width: 26px;
			height: 31px;
			&::before {
				content: url('../../img/icon/arrow-prev-small.svg');
			}
		}
		.slick-next {
			right: -19px;
			width: 26px;
			height: 31px;
			&::before {
				content: url('../../img/icon/arrow-next-small.svg');
			}
		}
	}
}
@media(min-width: 768px) {
	.shop {
		&__first-side {
			justify-self: end;
		}
		&__product-name {
			margin: 0 0 29px 0;
		}
		&__title {
			font-size: 31px;
		}
		&__product-availability {
			font-size: 12px;
		}
		&__price {
			margin: 0 0 47px 0;
		}
		&__actual-price {
			margin: 0 17px 0 0;
			font-size: 28px;
		}
		&__old-price {
			margin: 0 21px 0 0;
			font-size: 16px;
		}
		&__button {
			top: 67px;
			left: 205px;
			border-radius: 20px;
			width: 150px;
			height: 40px;
			font-size: 16px;
		}
		&__size-and-color {
			margin: 0 0 23px 0;
		}
		&__size-blocks {
			margin: 0 53px 0 0;
		}
		&__size {
			width: 50px;
			height: 35px;
			&:not(:last-child) {
				margin: 0 25px 0 0;
			}
			label {
				font-size: 18px;
			}
		}
		&__product-description {
			p {
				font-size: 14px;
				line-height: 16px;
				&:last-child {
					margin: 0 0 31px 0;
				}
			}
		}
		&__label {
			margin: 0 0 22px 0;
			font-size: 14px;
		}
		&__information {
			font-size: 14px;
		}
		.row {
			display: grid;
			grid-template-columns: 445px 365px;
			-moz-column-gap: 28px;
			column-gap: 28px;
		}
	}
	.shop-products-slider-big {
		width: 400px;
		height: 540px;
		&__image {
			width: 400px;
			height: 540px;
			img {
				height: 100%;
			}
		}
	}
	.shop-products-slider-small {
		width: 400px;
		&__image {
			margin: 0 auto 0 0;
			width: 85px;
		}
	}
	.shop-color-slider {
		width: 50px;
		&__slide {
			width: 50px;
			height: 35px;
		}
		.slick-prev {
			top: 50%;
			left: -24px;
			&::before {
				content: url('../../img/icon/arrow-prev-big.svg');
			}
		}
		.slick-next {
			top: 50%;
			right: -24px;
			&::before {
				content: url('../../img/icon/arrow-next-big.svg');
			}
		}
	}
}
@media(min-width: 976px) {
	.shop {
		&__first-side {
			position: relative;
			display: flex;
			flex-direction: row-reverse;
		}
	}
	.shop-products-slider-big {
		margin: 0;
	}
	.shop-products-slider-small {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -111px;
		width: 85px;
		.slick-prev {
			top: -34px;
			left: 55%;
			transform: translateX(-50%) rotate(90deg);
		}
		.slick-next {
			top: calc(100% + 4px);
			left: 55%;
			transform: translateX(-50%) rotate(90deg);
		}
	}
}