@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'nullstyle.scss';
@import 'fonts.scss';
@import 'slick.scss';
@import 'slick-theme.scss';
@import 'modal.scss';
@import 'header.scss';
@import 'header-burger.scss';
@import 'shop.scss';
@import 'brand-story.scss';
@import 'shipping-and-payment.scss';
@import 'reviews.scss';
@import 'footer.scss';

html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Gilroy', 'Arial';
	height: 100%;
	background-color: #fff;
}
body.lock {
	overflow: hidden;
	.arrow-to-top {
		display: none;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 824px;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.block-title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: #000000;
}
.logo {
	width: 40px;
	height: 12px;
	img {
		width: 100%;
	}
}
.button {
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	&--color {
		&_red {
			background: #E02424;
		}
	}
	&--color-text {
		&_white {
			color: #FFFFFF;
		}
	}
}
@media(min-width: 768px) {
	.logo {
		width: 57px;
		height: 17px;
	}
	.button {
		font-size: 16px;
	}
}
@media(min-width: 864px) {
	.content {
		width: 830px;
		margin: 0 auto;
		padding: 0 30px;
	}
	.block-title {
		font-size: 24px;
	}
}